/* ArticleCard.css */

/* Styles for the article card container */
.article-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin-left: 10px;
    align-items: center;
    background-color: #fff;
    width: 300px;
    height: 150px;
    overflow: hidden;
  }
  
  /* Styles for the article image */
  .article-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 16px;
  }
  
  /* Styles for the article content */
  .article-content {
    flex-grow: 1;
  }
  
  /* Styles for the article title */
  .article-title {
    font-size: 18px;
    margin: 0;
    height: 50px;
    overflow: hidden;
    width: 150px;
  }
  
  /* Styles for the article description */
  .article-description {
    margin: 8px 0;
  }
  
  /* Styles for the "Visit article" link */
  .article-link {
    text-decoration: none;
    color: #007bff;
  }
  
  /* Styles for the delete button container */
  .delete-button {
    display: flex;
    float: right;
  }
  
