body {
  margin: 0;
  color: #666;
  font-family: Source Sans Pro,Hiragino Sans GB,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
  background-color: #c5c0c078;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
